{{!< default}}
 
{{#contentFor 'pageStyles'}}
<style>
  .clicker {
    color: blue;
  };
</style>
{{/contentFor}}
 
<h1>{{blog.title}}</h1>
<h3>{{blog.description}}</h3>

{{#each posts}}
<h1><a href="/post/{{slug}}">{{title}}</a></h1>
<p>{{excerpt}}</p>
{{/each}}

<p>总共{{pagination.totalPage}}页，当前第{{pagination.page}}页</p>
{{#if link.prevPage}}
<a href="{{link.prevPage}}">上一页</a>
{{/if}}
{{#if link.nextPage}}
<a href="{{link.nextPage}}">下一页</a>
{{/if}}
